<?php
namespace ClassNamespace;

use attributeNamespace\AttributeType1;
use ClassNamespace\SoapEntity;


/**
 * ClassEntity class
 */
class ClassEntity extends SoapEntity
{

  /**
   * attributeName1 attribute
   * @access public
   * @var AttributeType1
   */
  public $attributeName1;

  /**
   * attributeName2 attribute
   * @access public
   * @var string
   */
  public $attributeName2;

  /**
   * attributeName3 attribute
   * @access public
   * @var boolean
   */
  public $attributeName3;

  /**
   * Getter for attributeName1 attribute
   *
   * @return AttributeType1
   */
  public function getAttributeName1() {
    return $this->attributeName1;
  }

  /**
   * Setter for attributeName1 attribute
   *
   * @param AttributeType1 $attributeName1
   *
   * @return void
   */
  public function setAttributeName1(AttributeType1 $attributeName1) {
    $this->attributeName1 = $attributeName1;
  }

  /**
   * Getter for attributeName2 attribute
   *
   * @return string
   */
  public function getAttributeName2() {
    return $this->attributeName2;
  }

  /**
   * Setter for attributeName2 attribute
   *
   * @param string $attributeName2
   *
   * @return void
   */
  public function setAttributeName2($attributeName2) {
    $this->attributeName2 = $attributeName2;
  }

  /**
   * Getter for attributeName3 attribute
   *
   * @return boolean
   */
  public function getAttributeName3() {
    return $this->attributeName3;
  }

  /**
   * Setter for attributeName3 attribute
   *
   * @param boolean $attributeName3
   *
   * @return void
   */
  public function setAttributeName3($attributeName3) {
    $this->attributeName3 = $attributeName3;
  }

}
